body{
    text-align: center;

    
}

#cabecera{
    background-color: #000;
    color: antiquewhite;
    padding: 40px;
    margin: 50px;
    border-radius: 25px;

}

#container{
    background: #000;
    color: bisque;
    padding: 50px;
    margin: 50px;
    border-radius: 25px;
}

#texto1{
    background-color: antiquewhite;
    color: black;
    margin: 100px;
    padding: 50px;
    font-size: 30px;
}
